Tp sur les Jeux de Données avec Python
* Les utilisateurs

In [1]:
users = [
{ "id":0,"name":"Hero"},
{ "id":1,"name":"Dunn" },
{ "id":2,"name":"Sue" },
{ "id":3,"name":"Chi" },
{ "id":4,"name":"Thor" },
{ "id":5,"name":"Clive" },
{ "id":6,"name":"Hicks" },
{ "id":7,"name":"Devin" },
{ "id":8,"name":"Kate" },
{ "id":9,"name":"Klein" }
 ]

* Les relations entre utilisateurs

In [4]:
friendships = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4),
(4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

1 - Ajout de la liste d’amis à chaque utilisateur.

In [6]:
for user in users:
    user["amis"] = []
for a, b in friendships:
    users[a]["amis"].append(users[b]) # ajout de b comme ami de a
    users[b]["amis"].append(users[a]) # ajout de a comme ami de b

In [28]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

data = np.array(users)

                                                        0
count                                                  10
unique                                                 10
top     {'id': 5, 'name': 'Clive', 'amis': [{'id': 4, ...
freq                                                    1

2 - Le nombre moyen de connexions

In [17]:
def nombre_amis(user):
    return len(user["amis"]) # Nombre total d'amis
total_connections = sum(nombre_amis(user)for user in users) #Nombre total de connections

In [19]:
from __future__ import division # Importation de la division
nbre_users = len(users) # longueur de la liste des utilisateurs
moyenne_de_connection = total_connections / nbre_users # 2.4
print(moyenne_de_connection)

2.4

3 - Les utilisateurs les plus connectés

In [84]:
# liste (user_id, number_of_friends)
nbre_amis_par_id = [(user["id"], nombre_amis(user))
for user in users]
# suivant les utilisateurs et leurs amis,
# Ceux ayant le plus d'amis sont forcément les plus connectés
sorted(nbre_amis_par_id,reverse=True)

[(9, 1),
 (8, 3),
 (7, 2),
 (6, 2),
 (5, 3),
 (4, 2),
 (3, 3),
 (2, 3),
 (1, 3),
 (0, 2)]