In [128]:
from sklearn.datasets import load_diabetes
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Analyse et Exploration

In [227]:
pd.set_option('display.max_row',111)
pd.set_option('display.max_column',111)
data = load_diabetes()

### Analyse de la forme

In [229]:
# Reformation du dataSet
df = pd.DataFrame(data.data)
tar = pd.DataFrame(data.target)
df['target'] = tar

In [225]:
coList = ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']
for col,i in zip(coList,range(0,10)):
    df[col] = df[i]
mydata = pd.DataFrame(df,columns=['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'])
mydata['target'] = tar
mydata.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [114]:
# nombres de ligne et de colonnes
df.shape

(442, 11)

In [116]:
dt = df.copy()

In [129]:
# nombre de variables
dt.dtypes.value_counts()

float64    11
dtype: int64

In [142]:
# Voyons s'il y a des variables manquantes
plt.figure(figsize=(20,12))
dt.isna().value_counts()

0      1      2      3      4      5      6      7      8      9      target
False  False  False  False  False  False  False  False  False  False  False     442
dtype: int64

### Analyse du fond

#### Visualisation de la target

In [148]:
dt['target'].value_counts()

200.0    6
72.0     6
178.0    5
90.0     5
71.0     5
        ..
162.0    1
302.0    1
346.0    1
153.0    1
261.0    1
Name: target, Length: 214, dtype: int64

###  Analyse de la forme : Taf

- **Identification de la target** : nom : target
- **Nombres de lignes et de colonnes** : 442,11
- **Types de variables** : Que des variables quantitatives : 11
- **Identification des valeurs manquantes** : Pas de valeurs manquantes

###  Analyse du fond : Taf

- **Visualisation de la target (Histogramme : VC / Boxplot : VD)**
  - 90% de négativité et 10% de positivité
- **Compréhension des différentes variables (Internet)**
  - Les variables quantitaives continue suivent tous malgré quelques un,une distribution normale 
  - Les variables qualitatives sont tous presque booleens(0,1)
- **Visualisation des relations features-target (Histogramme/Boxplot)**
  - target/blood aux de mpnocytes ,platelets,leukocytes semnblent liés au covid19
  - target/age : hummm
  - target/viral : on peut avoir 2 virus en meme temps
- **Identification des outliers**  
###  Analyse plus détaillée
- ** Relation variale/variable (sanguin/sanguin) : Certains variables sont très corrélés
- ** Relation variale/variable (age/sanguin) : pas de corrélation  (très faible )
- ** Relation variale/variable (maladie/sanguin) : le taux sanguin entre malade et covidien est diferent 


'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, T-Cells (a type of white blood cells)\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, thyroid stimulating hormone\n      - s5      ltg, lamotrigine\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],